
html, body {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0 auto;
    outline: 0 none;
    padding: 0;
    vertical-align: baseline;
    width: 1000px;
}
html {
    font-size: 14px;
    overflow-y: scroll;
}
body {
    background: #fff none repeat scroll 0 0;
}
h6{font-size: 10px; color: #ff0000;
    height:18px; margin: 0; padding: 0;}
li{list-style: none; margin: 5px 0;}
.login{ width: 400px; margin: 30px auto;}

.login li{
    height:40px;
    list-style: none;
}
.msg{width: 400px; margin: 0 auto;
    height:20px; color: #ff0000;}
.page{width: 600px;}
.page li{ float: left;
    margin:0 10px; list-style: none;}


table.gridtable {
    font-family: verdana,arial,sans-serif;
    font-size:11px;
    color:#333333;
    border-width: 1px;
    border-color: #666666;
    border-collapse: collapse;
}
table.gridtable th {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #dedede;
}
table.gridtable td {
    border-width: 1px;
    padding: 8px;
    border-style: solid;
    border-color: #666666;
    background-color: #ffffff;
}